* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 200vh;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
  background: url('https://images.pexels.com/photos/2100387/pexels-photo-2100387.jpeg?cs=srgb&dl=pexels-amine-m%27siouri-2100387.jpg&fm=jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
}

#logo {
  text-decoration: none;
  padding: 5rem;
  font-size: 3rem;
  color: rgb(241, 239, 236);
}

.input-div {
  display: flex;
  flex-direction: row;
}

.search-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.search-form input {
  font-size: 1.3rem;
  color: rgb(101, 95, 95);
  padding: 1rem;
  width: 500px;
  border: none;
  border: 0.3px solid rgba(87, 86, 86, 0.15);
  border-top-left-radius: 10px;
}

.search-form input:focus {
  outline: none;
}

.search-form button {
  border: 0.3px solid rgba(87, 86, 86, 0.15);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: white;
  color: rgba(87, 86, 86, 0.677);
  font-size: 20px;
  cursor: pointer;
  border-top-right-radius: 10px;
}

.search-down {
  width: 553.6px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background: white;
  border: 0.3px solid rgba(87, 86, 86, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#current-search {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0 1rem;
}

#current-search li {
  list-style: none;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: rgba(87, 86, 86, 0.677);
}

#current-search li:hover {
  background: rgb(242, 235, 235);
}

.title {
  display: flex;
  justify-content: space-between;
}

.clear,
.title h2,
#recent-searches {
  color: rgba(87, 86, 86, 0.677);
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.title h2 {
  color: rgb(78, 75, 75);
  cursor: auto;
}

.search-icon {
  font-size: 1rem;
  padding-top: 0.2rem;
  margin-left: 0.5rem;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(128, 128, 128, 0.773);
  padding: 0.5rem 0rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: 100px auto auto;
  row-gap: 5rem;
  column-gap: 3rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-img {
  position: relative;
  overflow: hidden;
  transition: 0.3s ease box-shadow;
  text-align: center;
}

.gallery-img h3 {
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: #00000040;
  color: aliceblue;
  bottom: -70px;
  font-weight: 300;
  transition: 0.5s ease-in-out bottom;
  cursor: pointer;
}

#heart {
  position: absolute;
  top: -70px;
  font-size: 30px;
  color: aliceblue;
  right: 20px;
  transition: 0.5s ease-in-out top;
}

#heart-video {
  position: relative;
  font-size: 30px;
  opacity: 0;
  transition: 0.5s;
}

#download {
  bottom: -70px;
  position: absolute;
  font-size: 30px;
  color: aliceblue;
  right: 20px;
  transition: 0.5s ease-in-out bottom;
}

.gallery-img:hover h3 {
  bottom: 0;
}

.gallery-img:hover #heart {
  top: 40px;
}

.gallery-img:hover #download {
  bottom: 0;
}

.gallery-img:hover #heart-video {
  opacity: 1;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  padding: 1rem 3rem;
  background: rgb(74, 68, 131);
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.list {
  display: inline-block;
  text-decoration: none;
}

.word {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  font-size: 17px;
  border: 0.3px solid rgba(87, 86, 86, 0.15);
  padding: 10px 15px;
  color: rgb(71, 59, 59);
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
}

.word:hover {
  background: rgb(245, 193, 90);
}

section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  width: 90%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.modal.modal-show .modal-content {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.modal.modal-hide .modal-content {
  animation: fadeOut 0.2s ease-in-out forwards;
}

.modal-content img {
  width: 80%;
  height: 70%;
  object-fit: cover;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0 0.75rem;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}

.modal-close:hover,
.modal-close:focus {
  color: rgba(0, 0, 0, 0.5);
}

ion-icon.red {
  color: red;
}

.free-download {
  text-decoration: none;
  padding: 1rem;
  position: absolute;
  top: 1rem;
  right: 5rem;
}

.hide {
  opacity: 0;
}

.photographer-section h1 {
  position: absolute;
  top: 0;
  color: black;
  z-index: 1000;
}
.word-title-btn-container {
 position: relative; 
 height: 6vh;

}
#related-words {
  position: absolute;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width:80%;
  left: 150px;
  margin-top: 10px;
}
.container-btn{
  display: flex;
  justify-content: space-around;
}
.btns {
  display: flex;
  position: absolute;
  top: 110px;
  right: 150px;
  justify-content: flex-end;
  
}
.btns :hover {
  background: rgba(82, 77, 77, 0.456);
}
#title-gallery {
  position: absolute;
  top: 80px;
  left: 162px;
  color: rgb(71, 59, 59);
  font-weight: 500;
  font-size: 10px; 
}
.img-vid-btns{
  position: absolute;
  top: 110px;
  left: 150px;
  display: flex;
}
.name-div{
  text-align: center;
  justify-content: center;
  position: relative;
  left: 0;
}

.name-div ~ #gallery-div {
  display: flex;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease box-shadow;
  text-align: center;

}
.name-div ~ #gallery-div img{
  width: 100%;
}
.not-find-word {
  margin: 100px !important;
  width: 600px !important;
  color: rgb(71, 59, 59);
  font-weight: 500;
  font-size: 30px;
}
.hide {
  display: none;
}
#slideBack {
position: relative;
 left: 120px !important;
 top: 30px !important; 
 
}
#slideBack ion-icon, #slide ion-icon {
  font-size: 30px;
  color: rgb(71, 59, 59);
  font-weight: 500;
}
#slide {
  position: relative;
  right: 20px !important;
  top: 30px;
  float: right;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .word {
    margin: 5px;
    font-size: 16px;
    padding: 8px 12px;
  }
  #title-gallery {
    top: 70px;
  }
  #related-words  {
    width: 70%;
    right: 50px !important;
  }
  .btns{
    right: 140px;
  }
  #slideBack {
    top: 20px !important;
  }
  #slide{
    top: 20px;
    right: 140px !important;
  }
}
@media only screen and (max-width: 992px) {
  .word {
    margin: 4px;
    font-size: 15px;
    padding: 5px 10px;
  }
  #title-gallery {
    top: 65px;
  }
  .word-title-btn-container {
    height: 3vh;
  }
  .btns{
    right: 130px;
  }
  #slideBack {
    top: 15px !important;
  }
  #slide{
    top: 15px;
    right: 100px !important;
  }
}
 

@media only screen and (max-width: 922px) {
  .word {
    margin: 2px;
    font-size: 15px;
    padding: 3px 7px;
  }
  #title-gallery {
    top: 50px;
  }
  #related-words  {
    width: 70%;
   left: 100px;
  }
  .img-vid-btns {
    top: 90px;
  }
    .btns{
    top: 130px;
    right: 80px;
  }
  .not-find-word {
    font-size: 25px;
    width: 150px;
    margin: 80px auto !important;
  }
  #slideBack {
    top: 11px !important;
    left: 60px !important;
  }
  #slide{
    top: 11px;
    right: 60px !important;
  }
}


@media only screen and (max-width: 650px) {
  .search-form input {
    width: 350px;
  }
  .search-down {
    width: 403.5px;
  }
  .word {
    margin: 1px;
    font-size: 14px;
    padding: 3px 7px;
  }
  .img-vid-btns {
    left: 160px;
  }
  .btns{
    top: 130px;
    right: 65px;
  }
  #slideBack {
    top: 9px !important;
  }
  #slide{
    top: 9px;
    right: 30px !important;
  }  
}
@media only screen and (max-width: 520px) {
  .search-form input {
    width: 300px;
  }
  .search-down {
    width: 353.6px;
  }
  .btns{
    top: 130px;
    right: 20px;
  }
  #slide{
    right: 20px !important;
  } 
}


